-# app/views/shared/header/_register.html.haml

%p
  You are not currently logged in.
  = link_to 'Sign In', new_user_session_path
  or
  = link_to 'Register', new_user_registration_path
  to get started.
