-# app/views/index.html.haml

%h1 Mission Control

%p
  Mission Control is a mission and experiment tracker for
  = succeed '.' do
    = link_to 'Kerbal Space Program', 'https://kerbalspaceprogram.com/'

%p Sorry, but we're still recruiting Kerbal-nauts. Come back later!
