<!-- app/assets/templates/missions/index.jst.ejs -->

<h1>Missions</h1>

<table>
  <thead>
    <tr>
      <th class="name">Name</th>
      <th class="status">Status</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
