<!-- app/assets/templates/missions/mission.jst.ejs -->
<td class="name"><%= mission.escape('name') %></td>
<td class="status <%= mission.escape('status').replace('_','-') %>"><%= mission.escape('status_message') %></td>
