-# app/views/missions/index.html.haml

%h1 Missions#index
%p Find me at app/views/missions/index.html.haml

= content_for :javascripts do
  :coffee
    $(document).ready ->
      window.router = new MissionControl.Routers.Missions({ missions: #{ @missions.to_json.html_safe } })
      MissionControl.initialize()
